@charset "UTF-8";
/*Reseteo del código para unificar los espacios en todos los navegadores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.4fr 1.6fr 1fr;
  grid-template-rows: 0.4fr 2.8fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.header {
  grid-area: header;
  background: linear-gradient(#001020, #13131a, #747373);
}
.header h1 a {
  text-decoration: none;
  color: hwb(0 100% 0%);
}
.header h1 a:hover {
  transform: scale(1.32);
  font-size: 85%;
  opacity: 40%;
}
.header nav {
  background: linear-gradient(rgb(22, 19, 19), hsl(0, 2%, 25%), #1b1b1b);
}
.header nav a img {
  width: 75px;
  transition: all 1.5s;
  border-radius: 25px;
}
.header nav a img:hover {
  transform: scale(1.3s);
  transform: rotate(0.9turn);
  border: 1px solid grey;
}
.header nav .nav-item {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}
.header nav .nav-item:hover {
  border-radius: 10px;
  background-color: rgb(38, 94, 197);
  text-decoration: white;
  transform: scale(1.1, 1.1);
}

.main {
  grid-area: main;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.main h2 {
  margin-bottom: 20px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.main .galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.main .galeria .card {
  background-color: black;
  color: white;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  text-align: center;
}
.main .galeria .card:hover {
  transform: scale(1.32);
  border: 1px solid grey;
  opacity: 70%;
}
.main .galeria .card img {
  width: 100%;
}
.main .galeria .card .description {
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}

.main1 {
  grid-area: main;
  font-family: "Courier New", Courier, monospace;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main1 .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.main1 .card {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  flex-wrap: wrap;
}
.main1 .card:hover {
  transform: scale(1);
  opacity: 50%;
}
.main1 .card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main1 .card h3 {
  margin: 15px 0;
  color: #fff;
}
.main1 .card p {
  color: #fff;
  font-size: 5px;
  margin-bottom: 5px;
}
.main1 .card .buttons {
  display: flex;
  justify-content: space-around;
}
.main1 .card .buttons button {
  background-color: hsl(204, 100%, 16%);
  color: #fff;
  border: none;
  padding: 1px 2px;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.main1 .card .buttons button:hover {
  background-color: #00121f;
}
.main1 .card .buttons .cart-btn {
  background-color: hsl(241, 96%, 11%);
}
.main1 .card .buttons .cart-btn:hover {
  background-color: #000005;
}

.main2 {
  grid-area: main;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main2 .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.main2 .card {
  background-color: hwb(0 100% 0%);
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 250px;
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  flex-wrap: wrap;
}
.main2 .card:hover {
  transform: scale(1.05);
}
.main2 .card img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.main2 .card h3 {
  margin: 15px 0;
}
.main2 .card p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}
.main2 .card .buttons {
  display: flex;
  justify-content: space-around;
}
.main2 .card .buttons button {
  background-color: hsl(204, 100%, 16%);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.main2 .card .buttons button:hover {
  background-color: #00121f;
}
.main2 .card .buttons .cart-btn {
  background-color: hsl(241, 96%, 11%);
}
.main2 .card .buttons .cart-btn:hover {
  background-color: #000005;
}

.main3 {
  grid-area: main;
  font-family: "Courier New", Courier, monospace;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main3 .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  flex-wrap: wrap;
  width: 100vw;
}
.main3 .card {
  background-color: black;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  text-align: center;
}
.main3 .card:hover {
  transform: scale(0.5);
  border: 1px solid rgb(0, 0, 0);
  opacity: 20%;
}
.main3 .card img {
  width: 100%;
  border-bottom: 1px solid hsl(0, 0%, 0%);
  border-radius: 10px;
}
.main3 .card h3 {
  margin-bottom: 20px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.main3 .card h3:hover {
  color: #020c12;
}

.main4 {
  grid-area: main;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin: 0;
  padding: 0;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main4 .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.main4 .card {
  background-color: #111111;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 250px;
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  flex-wrap: wrap;
}
.main4 .card:hover {
  transform: scale(1.05);
}
.main4 .card img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.main4 .card h3 {
  margin: 15px 0px;
  color: #fff;
}
.main4 .card p {
  color: white;
  font-size: 10px;
  margin-bottom: 10px;
}
.main4 .card .buttons {
  display: flex;
  justify-content: space-around;
}
.main4 .card .buttons button {
  background-color: hsl(204, 100%, 16%);
  color: #fff;
  border: none;
  padding: 2px 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.main4 .card .buttons button:hover {
  background-color: #00121f;
}
.main4 .card .buttons .cart-btn {
  background-color: hsl(241, 96%, 11%);
}
.main4 .card .buttons .cart-btn:hover {
  background-color: #000005;
}

.main5 {
  grid-area: main;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main5 .contacto {
  background: radial-gradient(circle, #6d6868, hsl(240, 3%, 72%));
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(250, 250, 250);
}
.main5 .contacto h2 {
  margin-bottom: 15px;
  color: azure;
}
.main5 .contacto input,
.main5 .contacto textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  color: azure;
  width: 100%;
}
.main5 .contacto button {
  background-color: #000000;
  color: hsl(0, 0%, 100%);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
.main5 .contacto button:hover {
  background-color: #1842cc;
}

.footer {
  grid-area: footer;
  background: linear-gradient(black, rgb(1, 1, 82), black);
  font-family: "Courier New", Courier, monospace;
  margin-top: auto;
  text-align: center;
  padding: 20px 0;
}
.footer .redes {
  text-align: center;
}
.footer .redes h2 {
  color: white;
  animation-duration: 3s;
  animation-name: redes;
  animation-iteration-count: infinite;
}
@keyframes redes {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.footer .redes img {
  border-radius: 20px;
}
.footer .redes img:hover {
  transform: scale(1.1, 1.1);
}
.footer .texto {
  color: beige;
}
.footer .texto p {
  color: white;
}

@media screen and (max-width: 1620px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";
  }
}
@media screen and (max-width: 1024px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";
  }
}
@media screen and (max-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";
  }
}
@media screen and (max-width: 480px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";
  }
}

/*# sourceMappingURL=style.css.map */
