@charset "UTF-8";
/*Reseteo del código para unificar los espacios en todos los navegadores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 100vw;
  height: 100vh;
  display: grid;
  background-size: cover;
  background-attachment: fixed;
  grid-template-rows: 0.2fr 0.2fr 4fr 0.4fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  grid-template-areas: "header header header" "aside aside aside" "main main main" "footer footer footer";
}

header {
  background-color: black;
  grid-area: header;
}
header img {
  border-radius: 40%;
  padding: 20px;
  float: left;
}
header h1 a {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}
header nav .navbar {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: black;
}
header nav .navbar ul li .navbar-nav {
  color: white;
  background-color: black;
  list-style: none;
}
header nav .navbar ul li:hover {
  background-color: rgb(3, 61, 99);
  color: white;
  border-radius: 20px;
}
header nav .navbar form .d-flex input {
  color: white;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}
header nav .navbar form .d-flex:hover {
  background-color: rgb(9, 78, 206);
  color: rgb(233, 233, 233);
  border-radius: 20px;
}
header nav .navbar form .d-flex .btn:hover {
  background-color: rgb(4, 68, 189);
  color: white;
}

.main {
  background-color: aliceblue;
  grid-area: main;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.main .galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 1200px;
  margin: 20px;
}
.main .galeria .galeria-item {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.main .galeria .galeria-item .galeria-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.main section .destacados {
  align-content: center;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
}
.main section .destacados:hover {
  opacity: 1;
  border: solid white 2px;
  border-radius: 10px;
}
.main section .destacados h2 {
  text-align: center;
  background-color: black;
}
.main section .destacados p {
  text-align: center;
  background-color: black;
}
.main section .imagenes-destacadas {
  display: flex;
  flex-wrap: wrap;
}
.main section .imagenes-destacadas img {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  border: double grey 2px;
  opacity: 0.4;
  max-width: 100%;
  height: auto;
}
.main section .imagenes-destacadas img:hover {
  opacity: 1;
  border: solid white 2px;
  border-radius: 10px;
}
.main .gabinete {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.main .gabinete .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 30px;
  text-align: center;
}
.main .gabinete .card .card img {
  width: 20%;
  height: 10px;
  object-fit: cover;
}
.main .gabinete .card .card h3 {
  margin: 15px 0 10px;
  font-size: 1.5em;
}
.main .gabinete .card .card p {
  padding: 0 15px 15px;
  font-size: 1em;
  color: #666;
}
.main .gabinete .card:hover {
  transform: scale(1.05);
}
.main .carousel {
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
}
.main .carousel__slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%;
}
.main .carousel__slides > div {
  width: 100%;
  flex-shrink: 0;
}
.main .carousel__slides img {
  width: 100%;
  display: block;
}
.main .carousel__navigation {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.main .carousel__navigation label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.main .carousel__navigation label:hover {
  background-color: #000;
}
.main input[type=radio] {
  display: none;
}
.main input[type=radio]:nth-of-type(1):checked ~ .carousel__slides {
  transform: translateX(0);
}
.main input[type=radio]:nth-of-type(2):checked ~ .carousel__slides {
  transform: translateX(-33.333%);
}
.main input[type=radio]:nth-of-type(3):checked ~ .carousel__slides {
  transform: translateX(-66.666%);
}
.main input[type=radio]:nth-of-type(1):checked ~ .carousel__navigation label:nth-of-type(1), .main input[type=radio]:nth-of-type(2):checked ~ .carousel__navigation label:nth-of-type(2), .main input[type=radio]:nth-of-type(3):checked ~ .carousel__navigation label:nth-of-type(3) {
  background-color: #000;
}

.footer {
  background-color: rgb(5, 4, 4);
  grid-area: footer;
  font-family: "Comfortaa", sans-serif;
  background-image: url(../img/footer.jpg);
}
.footer .contactanos {
  color: rgb(255, 255, 255);
}
.footer .contactanos h4 {
  color: rgb(255, 255, 255);
}
.footer .redes {
  text-align: center;
}
.footer .redes h4 {
  color: white;
}
.footer .redes img {
  border-radius: 20px;
}
.footer .texto {
  color: beige;
}
.footer .texto p {
  color: white;
}

/*media quaries*/
@media only screen and (max-width: 600px) {
  .body {
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 4fr 0.4fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "aside" "main" "footer";
    background-color: black;
  }
  .destacados {
    color: white;
    background-color: black;
  }
  .texto {
    display: none;
  }
}
@media (max-width: 900px) {
  .galeria-item {
    flex: 1 1 calc(50% - 20px);
  }
}
@media (max-width: 600px) {
  .galeria-item {
    flex: 1 1 100%;
  }
}

/*# sourceMappingURL=style.css.map */
