.footer {
    background-color: rgb(5, 4, 4);
    grid-area: footer;
    font-family: "Comfortaa", sans-serif;
    background-image: url(../img/footer.jpg);
    .contactanos {
        color: rgb(255, 255, 255);
        h4 {
            color: rgb(255, 255, 255);
        }
    }

    .redes {
        text-align: center;
        h4{
            color: white;
        }
        img {
            border-radius: 20px;
        }
    }
    .texto{
        color: beige;
        p{
            color: white;
        }

    }
}