/*Reseteo del código para unificar los espacios en todos los navegadores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: hsl(204, 100%, 16%);
$secondary-color: hsl(241, 96%, 11%);
$background-color: hwb(0 99% 1%);
$card-background-color: hwb(0 100% 0%);
$card-border-radius: 30px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$font-family: Arial, sans-serif;
$border-radius: 10px;
$link-color: hsl(204, 81%, 14%);
$link-hover-color: darken($link-color, 10%);
$transition-duration: 0.3s;
$text-color: #fff;
$highlight-color: #3498db;
$background-color1: #000;
$transition-duration1: 0.5s;

.contenedor {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.4fr 1.6fr 1fr;
    grid-template-rows: 0.4fr 2.8fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";


}

.header {
    grid-area: header;
    background: linear-gradient(#001020, #13131a, #747373);


    h1 {
        a {
            text-decoration: none;
            color: hwb(0 100% 0%);
            &:hover {
                transform: scale(1.32);
                font-size: 85%;
                opacity: 40%;
                
                
            }
        }
    }

    nav {
        background: linear-gradient(rgb(22, 19, 19), hsl(0, 2%, 25%), #1b1b1b);

        a {
            img {
                width: 75px;
                transition: all 1.5s;
                border-radius: 25px;

                &:hover {
                    transform: scale(1.3s);
                    transform: rotate(0.9turn);
                    border: 1px solid grey;

                }
            }
        }

        .nav-item {
            font-size: large;
            font-family: 'Courier New', Courier, monospace;

            &:hover {
                border-radius: 10px;
                background-color: rgb(38, 94, 197);
                text-decoration: white;
                transform: scale(1.1, 1.1);
            }
        }

    }
}

.main {
    grid-area: main;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;


    h1 {
        margin-bottom: 20px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }

    .galeria {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
              

        .card {
            background-color: black;
            color: white;
            border-radius: 1px;
            box-shadow: $box-shadow;
            overflow: hidden;
            transition: transform $transition-duration;
            text-align: center;

            &:hover {
                transform: scale(1.32);
                border: 1px solid grey;
                opacity: 70%;

            }

            img {
                width: 100%;


            }

            .description {
                padding: 10px;
                font-family: 'Courier New', Courier, monospace;


            }
        }
    }



}


.main1 {
    grid-area: main;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .card {
        background-color: black;
        border-radius: 10px;
        box-shadow: $box-shadow;
        margin: 0;
        padding: 0;
        width: 300px;
        text-align: center;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.05);
            opacity: 50%;
        }

        img {
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        h3 {
            margin: 15px 0;
            color: #fff;
        }

        p {
            color: #ffffff;
            font-size: 5px;
            margin-bottom: 5px;
        }

        .buttons {
            display: flex;
            justify-content: space-around;

            button {
                background-color: $primary-color;
                color: #fff;
                border: none;
                padding: 2px 4px;
                border-radius: 2px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken($primary-color, 10%);
                }
            }

            .cart-btn {
                background-color: $secondary-color;

                &:hover {
                    background-color: darken($secondary-color, 10%);
                }
            }
        }
    }
}

.main2 {
    grid-area: main;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .card {
        background-color: $card-background-color;
        border-radius: $card-border-radius;
        box-shadow: $box-shadow;
        margin: 20px;
        padding: 20px;
        width: 300px;
        text-align: center;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.05);
        }

        img {
            width: 100%;
            border-top-left-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
        }

        h3 {
            margin: 15px 0;
        }

        p {
            color: #666;
            font-size: 14px;
            margin-bottom: 20px;
        }

        .buttons {
            display: flex;
            justify-content: space-around;

            button {
                background-color: $primary-color;
                color: #fff;
                border: none;
                padding: 10px 15px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken($primary-color, 10%);
                }
            }

            .cart-btn {
                background-color: $secondary-color;

                &:hover {
                    background-color: darken($secondary-color, 10%);
                }
            }
        }
    }
}

.main3 {
    grid-area: main;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        gap: 20px;
    }

    .card {
        background-color: #fff;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        overflow: hidden;
        transition: transform $transition-duration;
        text-align: center;
        text-decoration: none;
        color: inherit;

        &:hover {
            transform: scale(1.05);
            opacity: 50%;
        }

        img {
            width: 100%;
            border-bottom: 1px solid #ccc;
        }

        h3 {
            margin: 15px 0;
            color: $link-color;
            transition: color $transition-duration;

            &:hover {
                color: $link-hover-color;
            }
        }
    }
}

.main4 {
    grid-area: main;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    margin: 0;
    padding: 0;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }

    .card {
        background-color: $card-background-color;
        border-radius: $card-border-radius;
        box-shadow: $box-shadow;
        margin: 20px;
        padding: 20px;
        width: 300px;
        text-align: center;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.05);
        }

        img {
            width: 100%;
            border-top-left-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
        }

        h3 {
            margin: 15px 0;
        }

        p {
            color: #666;
            font-size: 10px;
            margin-bottom: 10px;
        }

        .buttons {
            display: flex;
            justify-content: space-around;

            button {
                background-color: $primary-color;
                color: #fff;
                border: none;
                padding: 2px 6px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken($primary-color, 10%);
                }
            }

            .cart-btn {
                background-color: $secondary-color;

                &:hover {
                    background-color: darken($secondary-color, 10%);
                }
            }
        }
    }
}

.main5 {
    grid-area: main;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .contacto {
        background: radial-gradient(circle, #6d6868, hsl(240, 3%, 72%));
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(250, 250, 250);

        h2 {
            margin-bottom: 15px;
            color: azure;
        }

        input,
        textarea {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid hsl(0, 0%, 80%);
            border-radius: 5px;
            color: azure;
            width: 100%;
        }

        button {
            background-color: #000000;
            color: hsl(0, 0%, 100%);
            padding: 10px 15px;
            border: none;
            border-radius: 5px;

            &:hover {
                background-color: #1842cc;
            }
        }

    }
}

.footer {
    grid-area: footer;
    background: linear-gradient(black, rgb(1, 1, 82), black);
    font-family: 'Courier New', Courier, monospace;
    margin-top: auto;
    text-align: center;
    padding: 20px 0;


    .redes {
        text-align: center;

        h2 {
            color: white;
            animation-duration: 3s;
            animation-name: redes;
            animation-iteration-count: infinite;
        }
        @keyframes redes {
            0%{
                opacity: 0.5;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        img {
            border-radius: 20px;

            &:hover {
                transform: scale(1.1, 1.1);
            }
        }
    }


    .texto {
        color: beige;

        p {
            color: white;
        }

    }
}

@media screen and (max-width: 1620px) {
    .contenedor {
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "main"
            "footer";

    }

}

@media screen and (max-width: 1024px) {
    .contenedor {
         
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "main"
            "footer";

    }

}

@media screen and (max-width: 768px) {
    .contenedor {
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "main"
            "footer";

    }

}

@media screen and (max-width: 480px) {
    .contenedor {
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "main"
            "footer";

    }

}